html, body, #root {
  height: 100vh;
  margin: 0;
  padding: 0;
}
.contenedor-principal{
    height: 100vh;
    background-color: #F9FAFB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
h1{
    color: #333;
}



.titulo {
    font-size: 3rem;
    color: #333;
    text-align: center;
    margin-top: 20px;
    font-family: Arial, sans-serif;
        
}
.contenedor-principal p{
    font-size: 1.3rem;
    font-weight: 400;
}


